.row-fluid.personProfile
    .span2
        .avatarContainer
            .avatarImg
                img.avatar.avatar-large(src='assets/img/noAvatar.jpg')
            .editContainer
                span.avatarDescription.icon-edit  {{t "ns.common:change" }}

        .notSupported(style='display: none;')
            p {{t "common.image.notSupported" }}
            img(src='assets/img/browsers/upload_supported.png')

    .span10
        .upload-widget(style='display: none;')
            .widget
                .widget-content
                    #droparea
                        .dropareainner
                            .span2
                                p.dropfiletext {{t "common.image.moveHere" }}
                                p {{t "common.image.or" }}
                                p
                                    input#uploadbtn.uploadbtn(type="button", value!='{{t "common.image.choose" }}')
                                p#err
                                p
                                    button.btn.btn-warning#takeSnapshot {{t "common.image.click" }}

                            #canvasWrapper.span6
                                canvas#preview
                                canvas#overlayCanvas

                        input#upload(type="file", multiple="multiple")

        .widget
            .widget-content
                form.profile.form-horizontal

                    fieldset.organisationData(style='display: none;')
                        legend {{t "ns.common:organisation" }}

                        .control-group
                            label.control-label(for='organisationName') {{t "common.organisation.name" }}:
                            .controls
                                input#organisationName.input-large(name='organisationName', type='text', placeholder!='{{t "common.organisation.name" }}', value='{{ name }}')

                        .control-group
                            label.control-label(for='ratingTemplate') {{t "ns.common:curriculum" }}:
                            .controls
                                select#ratingTemplate.span5(name='ratingTemplate', data-placeholder!='{{t "ns.common:curriculum" }}...')
                                    option(value='{{ratingTemplate.id}}') {{ratingTemplate.title}}

                    fieldset.groupData(style='display: none;')
                        legend {{t "ns.common:group" }}

                        .control-group
                            label.control-label(for='groupName') {{t "common.group.name" }}:
                            .controls
                                input#groupName.input-large(name='groupName', type='text', placeholder!='{{t "common.group.name" }}', value='{{ name }}')

                        .control-group
                            label.control-label(for='description') {{t "common.group.description" }}:
                            .controls
                                .editor-container
                                    textarea#description.editor(placeholder!='{{t "common.group.description" }}...', autofocus="autofocus") {{ description }}

                    fieldset.personData
                        legend {{t "common.personData.title" }}
                            .commands.pull-right
                                i.edit.icon-edit(rel='tooltip', title!='{{t "ns.common:change" }}')

                        .control-group
                            label.control-label(for='givenName') {{t "ns.common:givenname" }}:
                            .controls
                                input#givenName.input-large(type='text', placeholder!='{{t "ns.common:givenname" }}', value='{{ givenName }}')

                        .control-group
                            label.control-label(for='familyName') {{t "ns.common:familyname" }}:
                            .controls
                                input#familyName.input-large(type='text', placeholder!='{{t "ns.common:familyname" }}', value='{{ familyName }}')


                        .control-group
                            label.control-label(for='birthday') {{t "common.personData.birthday" }}:
                            .controls
                                .input-prepend
                                    span.add-on
                                        i.icon-gift
                                    input#birthday.input-small(name='birthday', type='text', placeholder='xx.xx.xxxx', value='{{ birthday }}')

                    fieldset.addressFieldset
                        legend {{t "common.address.title" }}          

                        .row-fluid
                            .span7
                                .control-group.searchAddress
                                    .controls
                                        .input-prepend
                                            span.add-on
                                                i.icon-search
                                            input#searchAddress.input-large(type='text', placeholder!='{{t "ns.common:search" }}...')

                                .address
                                    .control-group
                                        label.control-label(for='street1') {{t "common.address.street1" }}:
                                        .controls
                                            input#street1.input-large(type='text', placeholder!='{{t "common.address.street1" }}', value='{{ address.street1 }}')

                                    .control-group
                                        .controls
                                            input#street2.input-large(type='text', placeholder!='{{t "common.address.street2" }}', value='{{ address.street2 }}')

                                    .control-group
                                        label.control-label(for='postalcode') {{t "common.address.postalcode" }}:
                                        .controls
                                            input#postalcode.input-mini(type='text', placeholder!='{{t "common.address.plz" }}', value='{{ address.postalcode }}')
                                            input#city.input-medium(type='text', placeholder!='{{t "common.address.city" }}', value='{{ address.city }}')
                            .span5
                                #map

                    fieldset.contactFieldset
                        legend {{t "common.contact.title" }} 

                        .control-group#group-contactname
                            label.control-label(for='contactname') {{t "common.contact.name" }}:
                            .controls
                                .input-prepend
                                    span.add-on
                                        i.icon-user
                                    input#contactname.input-xlarge(type='text', placeholder!='{{t "common.contact.name" }}', value='{{ contact.name }}')


                        .control-group
                            label.control-label(for='email') {{t "ns.common:email" }}:
                            .controls
                                .input-prepend
                                    span.add-on @
                                    input#email.input-xlarge(name='email', type='text', placeholder='person@somewhere.ch', value='{{ contact.email }}')

                        .control-group
                            label.control-label(for='phone-mobile') {{t "common.contact.mobile" }}:
                            .controls
                                .input-prepend
                                    span.add-on
                                        i.icon-signal
                                    input#phone-mobile.input-phone(type='text', placeholder='+41 00 000 00 00', value='{{ contact.phoneMobile }}')

                        .control-group
                            label.control-label(for='phone-home') {{t "common.contact.phoneHome" }}:
                            .controls
                                .input-prepend
                                    span.add-on
                                        i.icon-home
                                    input#phone-home.input-phone(type='text', placeholder='+41 00 000 00 00', value='{{ contact.phoneHome }}')

                        .control-group#group-phone-work
                            label.control-label(for='phone-work') {{t "common.contact.phoneWork" }}:
                            .controls
                                .input-prepend
                                    span.add-on
                                        i.icon-wrench
                                    input#phone-work.input-phone(type='text', placeholder='+41 00 000 00 00', value='{{ contact.phoneWork }}')


                    .form-actions
                        button.cancelProfile.btn {{t "ns.common:cancel" }}
                        button.saveProfile.btn.btn-warning {{t "ns.common:save" }}
