.container
    .row
        .span12
            .well
                .row-fluid
                    .span6
                        form.form-inline
                            h6 select:
                            .field.control-group
                                select#languages.span5(name='language', data-placeholder='language')
                            .field.control-group
                                select#namespaces.span5(name='namespace', data-placeholder='namespace')

                    .span6
                        form.form-inline
                            h6 add key:
                            .field.control-group
                                input#addKey.span5(type='text')

                            button#add.btn.btn-primary add

    .row
        .span12
            .row-fluid.tableheader
                .span2
                    h4 key

                .span5
                    h4 specific value

                .span5
                    h4 displayed value

    .row
        .span12
            #resources


