.container
    .row
        .span12
            .well
                .row-fluid
                    .span6
                        form.form-inline
                            h6 {{t "editor.choose" }}:
                            .field.control-group
                                select#languages.span5(name='language', data-placeholder='language')
                            .field.control-group
                                select#namespaces.span5(name='namespace', data-placeholder='namespace')

                            h6 {{t "editor.compare" }}:
                            .field.control-group
                                select#compare-lng.span5(name='compare-lng', data-placeholder='compare-lng')

                            h6 {{t "editor.filterKeys" }}:
                            input.span5.filter(type='text')

                    .span6
                        form.form-inline
                            h6 {{t "editor.addKey" }}:
                            .field.control-group
                                input#addKey.span5(type='text')

                            button#add.btn.btn-primary {{t "editor.add" }}

                            //- h6 {{t "editor.download" }}:
                            //- .field.control-group
                            //-     select#download.span5(name='download', data-placeholder='download')

                            //- button#add.btn.btn-primary {{t "editor.download" }}

    .row
        .span12
            .row-fluid.tableheader
                .span2
                    h4 {{t "editor.th.key" }}

                .span5
                    h4 {{t "editor.th.specificValue" }}

                .span5
                    h4 {{t "editor.th.displayedValue" }} / {{t "editor.th.compareValue" }}

    .row
        .span12
            #resources


