.resource
	.row-fluid
		.span2
			a.scrollTo(style='display: none;')
			.key
				{{parseKey key }}
		.span5
			div.editor-wrapper(style="display:inline-block; position:relative;")
				{{#if isArray}}
				textarea.span5.editor(rows='5', disabled='disabled') {{value}}
				{{else}}
				input.span5.editor(type='text', value!='{{value}}', disabled='disabled')
				{{/if}}

		.span5
			.testSection(style='display: none;')
				h6 {{t "editor.resourceItem.options" }}:
				p ({{t "editor.resourceItem.optionsDesc" }})
				textarea.span5.i18nOptions(rows='5')
				button.pull-right.btn.btn-warning.btn-mini.refresh
					i.icon-refresh
				.well.translated
			.previewSection
				{{parseValue fallback.value }}

	.row-fluid
		.span2 &nbsp;
		.span5
			.commands
				button.btn.btn-mini.singleline
					i.icon-minus
				button.btn.btn-mini.multiline
					i.icon-align-justify
				.pull-right.editCommands(style='display: none;')
					button.btn.btn-mini.cancel
						i.icon-remove
						{{t "editor.cancel" }}
					button.btn.btn-warning.btn-mini.save
						i.icon-ok
						{{t "editor.save" }}
				.pull-right.removeCommands(style='display: none;')
					button.btn.btn-mini.cancelRemove
						i.icon-remove
						{{t "editor.cancel" }}
					button.btn.btn-warning.btn-mini.confirmRemove
						i.icon-ok
						{{t "editor.delete" }}
				.pull-right.mainCommands
					button.btn.btn-mini.remove
						i.icon-remove
						{{t "editor.delete" }}
					button.btn.btn-mini.edit
						i.icon-edit
						{{t "editor.edit" }}

		.span5
			.commands
				.pull-right
					span.badge.badge-success.fallbackBadge {{ fallback.lng }}

				.pull-right
					button.btn.btn-mini.test
						i.icon-check
						{{t "editor.test" }}