.container
    .content-container
        .row-fluid
            .span12
                    h3 Using handebars helper

                    h6 Using basic helper:
                    .well
                        span {{t "trans.sample.handlebarsBasic" }}

                    .alert.alert-block.alert-info
                        h6 Template:
                        pre
                            code
                                | span {t "trans.sample.handlebarsBasic" }
                                | // use double {

                    h6 Using extended helper:
                    .well
                        {{#tr this key="trans.sample.handlebarsExtended" add="from helper" }}
                        h6 Some Text
                        p some paragraph with variable __add__ __addFromModel__
                        {{/tr}}

                    .alert.alert-block.alert-info
                        h6 Template:
                        pre
                            code
                                | {#tr this key="trans.sample.handlebarsExtended" add="from helper" }
                                | h6 Some Text
                                | p some paragraph with variable __add__ __addFromModel__
                                | {/tr}
                                | // use double {

                        p the passed in options from helper will be merged with the one of the context (model -> here this) 


        .row-fluid
            .span12
                h3 Using i18next from view.onRender()
                

                h6 Using data-i18n attribute:
                .well
                    .i18nContainer
                        span(data-i18n='trans.sample.dataI18n')

                .alert.alert-block.alert-info
                    h6 Template:
                    pre
                        code
                            | .i18nContainer
                            |     span(data-i18n='trans.sample.dataI18n')

                    h6 onRender:
                    pre
                        code
                            | this.$('.i18nContainer').i18n(opts);

                h6 Using t function:
                .well
                    .i18n
                       

                .alert.alert-block.alert-info
                    h6 Template:
                    pre
                        code
                            | .i18n

                    h6 onRender:
                    pre
                        code
                            | this.$('.i18n').text(ns.t('trans.sample.nsT'));